/* mobiles (landscape and portrait) */

@media only screen and (min-width: 320px) and (max-width: 500px) {
    .customers-container {
      margin: 0 32px;
      padding-bottom: 60px;
    }
    .customers-section-text {
      padding: 0 0 24px 40px;
      font-size: 16px;
      color: rgb(133, 145, 150);
      border-left: 1px solid rgb(133, 145, 150);
    }
    .customers-target-program {
      margin-top: 32px;
      font-size: 16px;
      color: rgb(133, 145, 150);
      padding-left: 60px;
      align-items: center;
    }
    .customers-target-image {
      height: 40px; 
      width: 32px; 
      margin-left: 16px;
    }
  }
  
  /* iPads (portrait and landscape) ----------- */
  
  @media only screen and (min-width: 550px) and (max-width: 800px) {
    .customers-container {
      margin: 0 40px;
      padding-bottom: 100px;
    }
    .customers-section-text {
      padding: 0 0 32px 48px;
      font-size: 20px;
      color: rgb(133, 145, 150);
      border-left: 1px solid rgb(133, 145, 150);
    }
    .customers-target-program {
      margin-top: 32px;
      font-size: 20px;
      color: rgb(133, 145, 150);
      padding-left: 60px;
      align-items: center;
    }
    .customers-target-image {
      height: 48px; 
      width: 36px; 
      margin-left: 16px;
    }
  }
  
  /* Desktops and laptops ----------- */
  
  @media only screen and (min-width: 850px) and (max-width: 1024px) {
    .customers-container {
      margin: 0 90px;
      padding-bottom: 120px;
    }
    .customers-section-text {
      padding: 0 0 24px 60px;
      font-size: 20px;
      color: rgb(133, 145, 150);
      border-left: 1px solid rgb(133, 145, 150);
    }
    .customers-target-program {
      margin-top: 32px;
      font-size: 20px;
      color: rgb(133, 145, 150);
      padding-left: 60px;
      align-items: center;
    }
    .customers-target-image {
      height: 48px; 
      width:36px; 
      margin-left: 16px;
    }
  }
  
  @media only screen and (min-width: 1224px) {
    .customers-container {
      margin: 0 220px;
      padding-bottom: 150px;
    }
    .customers-section-text {
      padding: 0 0px 32px 60px;
      font-size: 20px;
      color: rgb(133, 145, 150);
      border-left: 1px solid rgb(133, 145, 150);
    }
    .customers-target-program {
      margin-top: 32px;
      font-size: 20px;
      color: rgb(133, 145, 150);
      padding-left: 60px;
      align-items: center;
    }
    .customers-target-image {
      height: 48px; 
      width: 36px; 
      margin-left: 16px;
    }
  }