<div>
  <div class="section-header">Customers</div>
  <div class="section-divider">
    <div class="section-divider-line"></div>
  </div>
  <div class="customers-container">
    <div class="customers-section-text">We are currently working with leading enterprises in the financial, retail, and consumer electronics sectors to help
      them derive business value out of unstructured data.
    </div>
    <div class="display-row customers-target-program">
      <div>Kenome is excited to be part of the <a href="https://india.target.com/accelerator/" target="_blank" style="color: rgb(0, 174, 239)">Target Accelerator Program</a></div>
      <img src="./assets/imgs/target.png" class="customers-target-image">
    </div>
  </div>
</div>
