<div>
  <div class="section-header">About Us</div>
  <div class="section-divider">
    <div class="section-divider-line"></div>
  </div>
  <div class="about-us-container">
    <div class="about-us-section-text">
        Kenome was founded in late 2017 by <a href="http://talukdar.net/" target="_blank" style="color: rgb(0, 174, 239)">Professor Partha Talukdar</a>.

        Professor Talukdar is a faculty member in the Department of Computational and Data Sciences at the Indian Institute of Science (IISc), Bangalore (India), where he is also the founding director of the <a href="http://malllabiisc.github.io/" target="_blank" style="color: rgb(0, 174, 239)">Machine and Language Learning (MALL) Lab</a>. Professor Talukdar is one of the architects of the <a href="http://rtw.ml.cmu.edu/" target="_blank" style="color: rgb(0, 174, 239)">NELL system</a> at CMU, USA.
        <br><br>
        
        The name Kenome is a play on the phrase <i>knowledge genome</i>. Just as genome encodes the genetic material in an organism, Kenome’s AI aims to capture and unify the knowledge in an enterprise and harness it for improved decision making.
    </div>
  </div>
</div>
