<div>
    <div class="section-header">Why Kenome?</div>
    <div class="section-divider">
      <div class="section-divider-line"></div>
    </div>
    <div class="why-section-text">As part of regular business, enterprises generate a lot of dark data -- unstructured data in the form of employee emails, customer communications, presentations, manuals, maintenance and research notes, etc. Data relevant to the enterprise is also present on the Web in the form of blogs, social media discussions, news, etc. The heterogeneous, unstructured, and scattered nature of the dark data poses significant challenges in harnessing it for improved decision making.
    <br> <br>Kenome brings years of world-class research and industrial experience to help unlock the true value of unstructured dark data.
    </div>
    <div class="why-section-container">
      <div class="why-section-sub-container">
        <div class="display-row">
          <div class="why-section-icon">
            <img src="./assets/imgs/graph.png" alt="Knowledge Graphs" class="why-us-icon">
          </div>
          <div class="why-section-header">Knowledge Graphs</div>
        </div>
        <div class="why-section-info">
          Domain-specific Knowledge Graph construction and inference.
        </div>
      </div>
      <div class="why-section-sub-container">
        <div class="display-row">
          <div class="why-section-icon">
            <img src="./assets/imgs/nlp.png" alt="Natural Language Understanding" class="why-us-icon nlp">
          </div>
          <div class="why-section-header">Natural Language Understanding</div>
        </div>
        <div class="why-section-info">
          State-of-the-art models for NLU and semantic analysis.
        </div>
      </div>
      <div class="why-section-sub-container">
        <div class="display-row">
          <div class="why-section-icon">
            <img src="./assets/imgs/ml.png" alt="Machine Learning" class="why-us-icon">
          </div>
          <div class="why-section-header">Machine Learning</div>
        </div>
        <div class="why-section-info">
          Machine and Deep Learning models which learn from limited training.
        </div>
      </div>
      <div class="why-section-sub-container">
        <div class="display-row">
          <div class="why-section-icon">
            <img src="./assets/imgs/knowledge.png" alt="Never Ending Learning" class="why-us-icon">
          </div>
          <div class="why-section-header">Never Ending Learning</div>
        </div>
        <div class="why-section-info">
            Continuously improving AI with more data and interactions.
        </div>
      </div>
    </div>
  </div>
  