/* mobiles (landscape and portrait) */

@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
  .products-container {
    margin: 0 32px;
    padding-bottom: 30px;
  }
  .products-section-header {
    font-size: 20px;
    color: #fff;
    padding: 0 40px 16px;
  }
  .products-section-text {
    padding: 0 0 4px 40px;
    font-size: 16px;
    color: rgb(133, 145, 150);
    border-left: 1px solid rgb(133, 145, 150);
  }
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 550px) and (max-device-width: 800px) {
  .products-container {
    margin: 0 40px;
    padding-bottom: 40px;
  }
  .products-section-header {
    font-size: 26px;
    color: #fff;
    padding: 0 48px 24px;
  }
  .products-section-text {
    padding: 0 0 32px 48px;
    font-size: 20px;
    color: rgb(133, 145, 150);
    border-left: 1px solid rgb(133, 145, 150);
  }
}

/* Desktops and laptops ----------- */

@media only screen and (min-device-width: 850px) and (max-device-width: 1024px) {
  .products-container {
    margin: 0 90px;
    padding-bottom: 80px;
  }
  .products-section-header {
    font-size: 30px;
    color: #fff;
    padding: 0 60px 16px;
  }
  .products-section-text {
    padding: 0 0 24px 60px;
    font-size: 20px;
    color: rgb(133, 145, 150);
    border-left: 1px solid rgb(133, 145, 150);
  }
}

@media only screen and (min-width: 1224px) {
  .products-container {
    margin: 0 220px;
    padding-bottom: 80px;
  }
  .products-section-header {
    font-size: 32px;
    color: #fff;
    padding: 0 60px 16px;
  }
  .products-section-text {
    padding: 0 0px 32px 60px;
    font-size: 20px;
    color: rgb(133, 145, 150);
    border-left: 1px solid rgb(133, 145, 150);
  }
}