<div>
  <div class="section-header">Products</div>
  <div class="section-divider">
    <div class="section-divider-line"></div>
  </div>
  <div class="products-container">
    <div class="products-section-header">Kenome Insights Platform (KIP)</div>
    <div class="products-section-text">KIP is a novel AI platform to unlock actionable knowledge trapped inside dark data. KIP uses cutting-edge Machine Learning,
      Deep Learning, and Natural Language Understanding to build Enterprise Knowledge Graphs out of unstructured data. KIP
      also provides inference capabilities over such graphs for improved decision making. Please get in touch to learn more.
    </div>

    <br>
    <br>
    <br>

    <div class="products-section-header">TRAKCrypto</div>
    <div class="products-section-text">TRAKCrypto is built on top of the KIP framework to track cryptocurrency prices using heterogeneous unstructured data
      and deep learning. Please see the video below for a quick overview of the tool.
      <br>
      <video width="80%" height="auto" style="padding: 40px 0" controls>
        <source src="./assets/video/trakcrypto.mp4" type="video/mp4"> Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>
