<div>
  <div class="section-header">Products</div>
  <div class="section-divider">
    <div class="section-divider-line"></div>
  </div>
  <div class="products-container">
    <div class="products-section-header">Kenome Insights Platform (KIP)</div>
    <div class="products-section-text">KIP is a novel AI platform designed to unlock actionable knowledge trapped inside dark data. KIP uses cutting-edge Machine Learning, Deep Learning, and Natural Language Understanding to build Enterprise Knowledge Graphs out of unstructured data. KIP also provides inference capabilities over such graphs for improved decision making. Please get in touch to learn more.
    </div>

    <br>
    <br>
    <br>

    <div class="products-section-header">TRAKCrypto</div>
    <div class="products-section-text">TRAKCrypto is built on top of the KIP framework to track cryptocurrency prices using heterogeneous unstructured data
      and deep learning. Please see the video below for a quick overview of the tool.
      <br>
      <iframe src="https://www.youtube.com/embed/1AnJdju1ry4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</div>
